<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <h1>New Comment</h1>
    <%= yield %>
      <%= form_for [@post,@comment] do |f| %>
        <%= f.label :content %>
        <%= f.text_area :content %>
        <%= f.hidden_field :post_id %>
        <%= f.submit "Create Comment" %>
      <% end %>
  </body>
</html>
