<!DOCTYPE html>
<html>
<head>
  <title>Scribbler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <h1>Scribbler</h1>
    <%= yield %>
    <ul>
      <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, post %>
        <a href="/posts/<%= post.id %>">
        <%= post.title %>
        <%= post.content %>
        <%= post.author %>
      </a>
      </li>
      <% end %>
    </ul>
    <h4><%= link_to "(add post)", new_post_path %></h4>
  </body>
</html>
